*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    display: block;
    color: inherit;
    text-decoration: none;
}
p a{
    display: inline;
}
img , svg {
    display: block;
    width: 100%;
    height: inherit;
}
svg{
    fill: currentColor;
}
:root{
    /* Aqui van los diferentes colores de la web */
    font-size: 100%;
    scroll-behavior: smooth;
    /* Este es el color mas claro */
    --claro: rgb(221, 152, 253);
    /* Este es el color de fondo */
    --fondo: rgb(122, 76, 143);
    /* Este es el mas oscuro, sirve para las cabeceras */
    --oscuro: rgb(83, 43, 104);
    /* Este es el blanco, se usa principalmente en el index o en detalles */
    --blanco: rgb(255, 255, 255);
    /* Este es el negro, se usa para los textos */
    --negro: rgb(0, 0, 0);
    /* Este es el mas intenso, se usa para los detalles o cuando se hace hover para enfatizar */
    --intenso: rgb(135, 5, 196);
}
body{
    /* Esta es la tipografia utilizada */
    font-family: "Bitter", serif;
    hyphens: auto;
    position: relative;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-weight: inherit;
}
.Fondo{
    /* Pongo el fondo en fixed y con un gradiente para que no sea un fondo simple */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(180deg, var(--claro) 0%, var(--fondo) 100%);
    pointer-events: none;

}
/* Añado la imagen del fondo  para que esté siempre en la esquina*/
.Fondo-img{
    width: 100%;
    height: 100vh;
    max-width: 60rem;
    object-fit: cover;
    position: relative;
    opacity: 0.2;
}
/* Aqui va el header */
.Header{
    width: 100%;
    top: 0;
    left: 0;
}
.Header-wrap{
    padding:1.5625rem;
    height: 5.625rem;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    width: 9.375rem;
}
.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Header-li{
    padding: .9375rem;
    text-align: center;
    transition: color .3s ease;
    position: relative;
}
/* Aqui añado la linea que aparece debajo de los enlaces del header cuando haces hover y el efecto. */
.Header-li::before{
    content: "";
    width: 0%;
    height: .125rem;
    background-color: var(--intenso);
    position: absolute;
    bottom: .625rem;
    left: 0;
    transition: width .3s ease;

}
.Header-li:hover{
    color: var(--intenso);
}
.Header-li:hover::before{
    width: 100%;
}
.Header-boton{
    display: none;
}
.Header-ul--boton{
    display: none;
}
.Main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.Main-section{
    width: 100%;
    margin: auto;
}
/* Aqui añado las caracteristicas del hero, el elemento mas importante */
.Hero{
    min-height: 21.875rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--blanco);
    gap: 1.25rem;
}
.Hero-h2{
    width: 50%;
    max-width: 31.25rem;
}
.Hero-h3{
    font-size: 1.5em;
    font-weight: 300;
}
/* Los tres elementos comparten clase, por lo que con unas pocas lineas de CSS ya están todos estilizados */
.Contacto{
    margin: 1.25rem auto;
    padding: 1.25rem 1.25rem;
    min-height: 31.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    color: var(--blanco);
    gap: 1.875rem;
}
.Contacto-h3{
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: .125rem;
}
.Contacto-wrapper{
    width: calc(100% / 3);
    min-height: 9.375rem;
    padding: .9375rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: .625rem;

}
.Contacto-h4{
    font-size: 1.8em;
    font-weight: 600;
}
.Contacto-a{
    font-size: 1.5em;
    font-weight: 400;
    transition: color .3s ease;
}
.Contacto-a:hover{
    color: var(--intenso);
}
.Contacto-insta{
    width: 50%;
    max-width: 3.75rem;
}
.Contacto-h5{
    width: 70%;
    max-width: 18.75rem;
}
.Footer{
    background-color: var(--negro);
    width: 100%;
    color: var(--blanco);
    font-size: .7em;
    padding: .1875rem;
    z-index: -1;
}
@media (min-width:1200px) {
    .Fondo-img{
        height: 100vh;
        max-width: 40vw;
    }
    
}
/* Aqui va el responsive para tablets o portatiles, */
@media (max-width:900px){
    .Main{
        height: 100%
    }
    .Hero-h2{
        width: 80%
    }
    .Contacto{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 1.25rem;
    }
    .Contacto-wrapper{
        width: 100%;
        min-height: 9.375rem;
        padding: .9375rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1.25rem;
    }

}
/* Este es el responsive del menu del header para moviles grandes o tablets pequeñas */
@media (max-width:750px){
    .Fondo-img{
        width: 50rem;
        object-fit: cover;
        position: relative;
        right: 6.25rem;
        opacity: 0.2;
    }

    .Header-boton{
        display: block;
        width: 2.5rem;
        position: relative;
    }
    .Boton-ul{
        background-color: rgba(0, 0, 0, 0.614);
        color: white;
        width: 6.25rem;
        height: 0rem;
        position: absolute;
        top: 3.125rem;
        left: -3.125rem;
        z-index: 2;
        overflow: hidden;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        transition: height .5s ease;

    }
    .Boton-ul.Activo{
        height: 13.125rem;
    }
    .Boton-li{
        width: 100%;
        height: calc(13.125rem / 5);
        padding: .625rem;
        text-align: center;

        transition: background-color .5s ease;
    }
    .Boton-li:hover{

        background-color: var(--intenso);
    }
    .Header-menu{
        display: none;
    }
}
/* Aqui adapto para los moviles pequeños */
@media (max-width:450px){
    .Hero{
        height: 28.125rem;
    }
    .Header-h1{
        font-size: 1.8em;
    }
    .Hero-h2{
        font-size: 1.4em;
    }
    .Contacto-a{
        font-size: 1.1em;
    }
    .Footer{
        font-size: 0.5em;
    }
}


